**/*.log
**/*.md
**/.dockerignore
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
.editorconfig
.env.*
database/
dist/
build/
doc/
!doc/api.yaml
node_modules/
.idea/
.editorconfig
.vscode/
.eslintcache*
